### Intellij ###
.idea/
*.iml
*.iws
/out/
.idea_modules/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/

### Maven template
target/

# Created by .ignore support plugin (hsz.mobi)
